.container-card3 {
    width: 18.75rem;
    height: 18.75rem;

    border-radius: 0.3125rem;
    border: 1px solid rgba(255, 255, 255, 0.15);
    box-shadow: 5px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.container-card3 img {
    width: 18.75rem;
    height: 18.75rem;
    border-radius: 0.3125rem;
}