.container-welcome {
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;

    width: 100%;
    height: 68.3rem;
}

.container-img-welcome {
    width: 100%;
    height: 35rem;
    padding-left: 5%;
    padding-right: 5%;

    background-image: url('../../assets/painel.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.container-data-welcome {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.container-data-welcome h1 {
    font-size: 3rem;
    font-weight: 500;
    margin-top: 5.37rem;
}

.container-data-welcome h2 {
    font-size: 1.72rem;
    font-weight: 300;
    margin-bottom: 5.37rem;
}

.container-data-welcome h1,
.container-data-welcome h2,
.container-data-welcome button {
    text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.60);
    color: var(--font-clr-white);
    font-family: var(--ff-roboto);
}

.container-data-welcome button {
    width: 17.625rem;
    height: 3.1405rem;

    border-radius: 0.3125rem;
    border: 1px solid #EEE;
    background: rgba(217, 217, 217, 0.50);
    box-shadow: 2px 3px 4px 0px rgba(0, 0, 0, 0.60);

    text-shadow: 2px 3px 4px rgba(0, 0, 0, 0.70);
    font-size: 2.1rem;
}

.container-apresentation {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 3.8rem;

    width: 100%;
    height: auto;

    position: absolute;
    top: 36.6rem;
}

.container-decoration-footer {
    width: 100%;
    height: 8rem;

    background-image: url('../../assets/Divisoria.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@media only screen and (max-width: 74.15rem) {
    .container-welcome {
        height: 102rem;
    }
}

@media only screen and (max-width: 48.45rem) {
    .container-data-welcome h1 {
        font-size: 2.7rem;
    }

    .container-data-welcome h2 {
        font-size: 1.62rem;
        margin-bottom: calc(5.37rem - 10%);
    }

    .container-welcome {
        height: 136rem;
    }
}