.container-footer {
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;

    width: 100%;
    height: auto;
    padding: 2%;

    background: linear-gradient(0deg, #000 0%, rgba(15, 13, 15, 0.65) 100%);
    fill: linear-gradient(180deg, #000 0%, rgba(15, 13, 15, 0.65) 100%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.apresentation,
.pages {
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    width: 21.25rem;
    height: 18.5rem;

    border-right: 3px solid rgba(255, 245, 32, 0.1);
}

.logo-footer {
    width: 12.5625rem;
    height: 5.75rem;
}

.apresentation-text {
    width: 17.8125rem;
    height: 4.6875rem;

    color: var(--bg-modal);
    font-family: Rubik;
    font-size: 1rem;
}

.social-midia {
    gap: 0.5rem;
}

.social-midia img {
    cursor: pointer;
}

.social-midia img:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.pages-title {
    color: var(--font-yellow);
    font-family: var(--ff-rubik);
    font-size: 1.125rem;
}

.pages-content {
    margin-bottom: 8rem;
}

.text-pages {
    color: var(--bg-modal);
    font-family: var(--ff-rubik);
    font-size: 1.125rem;
}

.location {
    align-items: center;
    justify-content: center;
}

.location img {
    width: 200px;
}

@media only screen and (max-width: 48rem) {

    .location,
    .apresentation,
    .pages {
        align-items: center;
        border-right: none;
    }
}